<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-12">
      <h2>¿Cómo llegar?</h2>
      <p>
        La mayoría llegaremos por avión, así que la mejor opción es llegar directo al Aeropuerto Internacional de Mérida Manuel Crescencio Rejón (MID).
        <br>
        Para aquellos que nos visitan del extrajero, pueden tomar cualquiera de las siguientes escalas:
        <ul>
        Aeropuerto Internacional de Cancún (CUN)
        Aeropuerto Internacional Benito Juárez (MEX)
        </ul>
        </br>
      </p>
    </div>
  </div>
</section>


<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-12">

      <h2 id="getting-around">Transporte</h2>

      <div class="row">
          <div class="col-lg-12 text-left">

          <h3>Renta de Auto</h3>

          <p>
            Si quieres tener la libertad de poderte mover alrededor de la ciudad o aprovechar el viaje para conocer otros lugares cercanos, una buena alternativa es la renta de autos.
            Tenemos un código para que ahorres hasta el 50% de tu renta en Hertz: GOHERTZ
          </p>
        </div>

        <div class="col-lg-12 text-left">
          <h3>Uber, DiDi o InDriver</h3>

          <p>
            Lamentablemente no se puede hacer uso de estas aplicaciones dentro del Aeropuerto, aunque si no te importa cruzar la calle (literal, es un aeropuerto pequeño y seguro) te pueden recoger sobre la Calle 23 por donde están todas las empresas de rentas de autos. Además son buenas opciones para transportarte dentro de la ciudad de Mérida, ya sea para turistear o para trasladarte a la boda.
          </p>

        </div>

        <div class="col-lg-12 text-left">

          <h3>Taxi</h3>

          <p>
            La alternativa que nunca falla, sobre todo si buscas transportarte del Aeropuerto a tu hotel. El único inconveniente es que, como es común, sólo aceptan efectivo. Tendremos un sitio de Taxis disponible el día de la boda, así no tienes que preocuparte por manejar o encontrar algún Taxi seguro.
          </p>
        </div>
        </div>
      </div>

<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-12">

      <h2>Alojamiento</h2>
      <p>
       Tenemos algunas opciones de alojamiento para todos los gustos y presupuestos
      </p>
      <ul>
        <strong>
          <br>
          <a href="http://www.casaazulhotel.com/" target="_blank">Casa Azul Hotel Monumento Histórico</a> (CLAVE DE COTIZACIÓN: BODA TANIA & DAVID)
          <br>
          <a href="https://www.piedradeagua.com/es" target="_blank">Piedra de Agua Hotel Boutique & Spa</a> (CUPÓN: TANIA&DAVID)
          <br>
          <a href="https://all.accor.com/hotel/6928/index.es.shtml" target="_blank">Hotel Ibis</a> (Lamentablemente no dan códigos promocionales, pero sí dan buenas tarifas)
        </strong>
      </ul>
      <p>
       Si lo prefieres también existen grandes opciones de alojamiento en AirBnb, te dejamos algunas de nuestras favoritas:
      </p>
    </div>
  </div>
</section>

<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-12">

      <h2>Mapa</h2>
      <p>
        Para los que no estamos familiarizados con Mérida, aquí les dejamos el mapa:
      </p>

      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119210.03296881878!2d-89.6329183!3d20.98006555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f56715cab450d17%3A0x5dfc155715abeb09!2zTcOpcmlkYSwgWXVjLg!5e0!3m2!1ses!2smx!4v1654648115264!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>

    </div>
  </div>
</section>
