<!-- schedule -->
<div class="wrapper" id="schedule">
    <h2 class="section__header">Schedule</h2>
    <div class="cd-container">
        <section class="cd-timeline">
            <div class="cd-timeline-block animated">
                <div class="cd-timeline-img">
                    <img src="/images/wedicons/ceremony.svg" alt="Ceremony icon">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Ceremony</h3>
                    <h4 class="cd-date for-small">3pm</h4>
                    <p>Our wedding will be performed in the Ceremony Room in the grounds of Darver Castle.</p>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block animated">
                <div class="cd-timeline-img">
                    <img src="/images/wedicons/drinks.svg" alt="Drinks icon">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Pre-dinner drinks</h3>
                    <h4 class="cd-date for-small">4pm</h4>
                    <p>Wet your whistle in the Castle Drawing Room while we say cheese in the garden.</p>
                </div>
                <!-- cd-timeline-content -->
            </div>

            <div class="cd-timeline-block animated">
                <div class="cd-timeline-img">
                    <img src="/images/wedicons/dinner.svg" alt="Dinner icon">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Dinner</h3>
                    <h4 class="cd-date for-small">6pm</h4>
                    <p>Dinner will be served in the Castle Ballroom. Please shout if you're violently allergic to anything.</p>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <!-- cd-timeline-block -->

            <div class="cd-timeline-block animated">
                <div class="cd-timeline-img">
                    <img src="/images/wedicons/speeches.svg" alt="Speeches icon">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Speeches</h3>
                    <h4 class="cd-date for-small">7.45pm</h4>
                    <p>Some people will say some words - we'll try and keep them brief!</p>
                </div>
            </div>

            <!-- cd-timeline-block -->

            <div class="cd-timeline-block animated">
                <div class="cd-timeline-img">
                    <img src="/images/wedicons/music.svg" alt="Music icon">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Cèilidh</h3>
                    <h4 class="cd-date for-small">8.30pm</h4>
                    <p>We welcome our evening guests with a Cèilidh 🎶 - please note: may involve group participation!</p>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block animated">
                <div class="cd-timeline-img">
                    <img src="/images/wedicons/supper.svg" alt="supper icon">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Supper</h3>
                    <h4 class="cd-date for-small">10pm</h4>
                    <p>We hear Cèilin' is hungry work so a timely refuel will be provided.</p>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block animated">
                <div class="cd-timeline-img">
                    <img src="/images/wedicons/music.svg" alt="Music icon">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Tunes</h3>
                    <h4 class="cd-date for-small">11pm</h4>
                    <p>To the dancefloor - let's see your shapes! 💃</p>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->

            <div class="cd-timeline-block animated">
                <div class="cd-timeline-img">
                    <img src="/images/wedicons/sleep.svg" alt="Sleep icon">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Bedtime</h3>
                    <h4 class="cd-date for-small">2.30am</h4>
                    <p>Back on the bus, make no fuss - have you no homes to go to? 😉</p>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->


        </section>
        <!-- cd-timeline -->
    </div>
    <span class="link-leader link-leader--inverse">
        <a href="#location">...and where is it again?</a> &#8595;
    </span>
</div>

<!-- banner 1 -->
<div class="img-banner img-banner--one">
    <img
        sizes="(max-width: 3000px) 100vw, 3000px"
        srcset="
            /images/b&g/banner-1_zxqcip_c_scale,w_320.jpg 320w,
            /images/b&g/banner-1_zxqcip_c_scale,w_801.jpg 801w,
            /images/b&g/banner-1_zxqcip_c_scale,w_1122.jpg 1122w,
            /images/b&g/banner-1_zxqcip_c_scale,w_1396.jpg 1396w,
            /images/b&g/banner-1_zxqcip_c_scale,w_1616.jpg 1616w,
            /images/b&g/banner-1_zxqcip_c_scale,w_1796.jpg 1796w,
            /images/b&g/banner-1_zxqcip_c_scale,w_1958.jpg 1958w"
        src="/images/b&g/banner-1_zxqcip_c_scale,w_1122.jpg"
        alt="Barry &amp; Gillian - Black and white portrait"
    >
</div>
