<!-- schedule -->
<div class="container content-section text-center">
    <h2>Schedule</h2>
    <div class="col-lg-offset-2 col-lg-12">
        <section class="cd-timeline">
            
            <div class="cd-timeline-block animated">
                <div class="cd-timeline-img">
                    <img src="/assets/wedicons/ceremony.svg" alt="Ceremony icon">
                </div>
                <!-- cd-timeline-img -->

                <div class="cd-timeline-content">
                    <h3>Ceremony</h3>
                    <h4 class="cd-date for-small">3pm</h4>
                    <p>Our wedding will be performed in the Ceremony Room in the grounds of Darver Castle.</p>
                </div>
                <!-- cd-timeline-content -->
            </div>
            <!-- cd-timeline-block -->


        </section>
        <!-- cd-timeline -->
    </div>
</div>